<div
    class="jumbotron text-center"
    style="margin-bottom: 27vh; margin-top: 20vh"
>
    <h1 class="display-3">Thank You!</h1>
    <p class="lead">
        <strong class="fw-bold">Order Placed Successfully,</strong>
        <span class="fw-light">
            shippment should arrive between 5-14 business days</span
        >
    </p>
    <hr />
    <p>
        You will be redirected to the home page in 5 seconds. If not, click the
        button below.
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button"
            >Continue to homepage</a
        >
    </p>
</div>
