.orders-card {
    background-color: #4158d0;
    background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );
}

.customers-card {
    background-color: #ffcc70;
    background-image: linear-gradient(
        43deg,
        #ffcc70 0%,
        #4158d0 46%,
        #c850c0 100%
    );
}

.products-card {
    background-color: #c850c0;
    background-image: linear-gradient(
        43deg,
        #c850c0 0%,
        #4158d0 46%,
        #ffcc70 100%
    );
}

.earnings-card {
    background-color: #4158d0;
    background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #ffcc70 46%,
        #c850c0 100%
    );
}

.admin-category {
    margin-right: 10vw;
}

.admin-category h1 {
    margin-bottom: 4vh;
}

.card {
    margin-top: 4vh;
}
