<div class="container rounded bg-white mt-5" style="margin-bottom: 20vh">
    <div class="row">
        <div class="col-md-4 border-right">
            <div
                class="
                    d-flex
                    flex-column
                    align-items-center
                    text-center
                    p-3
                    py-5
                "
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="90"
                    height="90"
                    fill="currentColor"
                    class="bi bi-person-bounding-box"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"
                    />
                    <path
                        d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"
                    /></svg
                ><span class="font-weight-bold">John Doe</span
                ><span class="text-black-50">john_doe12@bbb.com</span
                ><span>United States</span>
            </div>
        </div>
        <div class="col-md-8">
            <div class="p-3 py-5">
                <div
                    class="
                        d-flex
                        justify-content-between
                        align-items-center
                        mb-3
                    "
                >
                    <div class="d-flex flex-row align-items-center back">
                        <i
                            class="bi bi-arrow-left"
                            style="margin-right: 4px"
                        ></i>
                        <h5>Back to home</h5>
                    </div>
                    <h5 class="text-right">Edit Profile</h5>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="first name"
                            value="John"
                        />
                    </div>
                    <div class="col-md-6">
                        <input
                            type="text"
                            class="form-control"
                            value="Doe"
                            placeholder="Doe"
                        />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Email"
                            value="john_doe12@bbb.com"
                        />
                    </div>
                    <div class="col-md-6">
                        <input
                            type="text"
                            class="form-control"
                            value="+19685969668"
                            placeholder="Phone number"
                        />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="address"
                            value="D-113, right avenue block, CA,USA"
                        />
                    </div>
                    <div class="col-md-6">
                        <input
                            type="text"
                            class="form-control"
                            value="USA"
                            placeholder="Country"
                        />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="Bank Name"
                            value="Bank of America"
                        />
                    </div>
                    <div class="col-md-6">
                        <input
                            type="text"
                            class="form-control"
                            value="043958409584095"
                            placeholder="Account Number"
                        />
                    </div>
                </div>
                <div class="mt-5 text-right">
                    <button
                        class="btn btn-primary profile-button"
                        type="button"
                    >
                        Save Profile
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
