<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand logo col-3" routerLink="/" routerLinkActive="router-link-active"> <img src="/assets/Webp.net-resizeimage.png" alt="" style="width: 90px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-9" id="navbarSupportedContent">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 20vw; margin-left: -8vw;">
        <button class="btn btn-outline-success" type="submit" style="margin-right: 7vw;">Search</button>
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="home" routerLink="/" routerLinkActive="router-link-active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="products" routerLink="/products" routerLinkActive="router-link-active">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="contact" routerLink="/contact" routerLinkActive="router-link-active">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="cart" routerLink="/cart" routerLinkActive="router-link-active">
            <button type="button" class="badge bg-light text-dark position-relative" style="border: none;">
              <i class="bi bi-cart fs-2" aria-hidden="true"></i>
              <span *ngIf="cartdata.length > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 1em;">
                {{cartdata.length}}
              </span>
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="login" routerLink="/login" routerLinkActive="router-link-active">

            <i class="bi bi-person fs-2" aria-hidden="true"></i>
            <span class="">Ahmed</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

