<div class="container" style="background-color: #f8f9fa" [hidden]="loading">
    <!-- go back btn -->
    <button (click)="goBack()" class="btn btn-danger my-5">
        Back to Shopping
    </button>
    <div class="row">
        <div class="col-12">
            <!-- make table that have got product image , name , quntity (can be changed), price -->
            <table class="table table-hover my-4">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">SubTotal</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let product of cartProducts">
                    <tr>
                        <td>
                            <img
                                style="
                                    width: 100px;
                                    height: 100px;
                                    margin-right: 2em;
                                "
                                src="https://api1.ahmed-raslan.com/{{
                                    product.image
                                }}"
                                alt=""
                            />
                            <span>{{ product.name }}</span>
                        </td>
                        <td>
                            {{ product.quantity }}
                        </td>
                        <td>{{ product.price | currency }}</td>
                        <td>
                            {{ product.price * product.quantity | currency }}
                        </td>
                        <td>
                            <button
                                (click)="removeItem(product._id)"
                                class="btn btn-danger"
                            >
                                Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-8 my-4"></div>
        <div class="col-4 my-4">
            <!-- draw a line break -->
            <hr />
            <div class="card my-3">
                <div class="card-header">Order Summary</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h5>Total</h5>
                        </div>
                        <div class="col-4" style="float: right">
                            <h5>{{ getSubTotal.total | currency }}</h5>
                        </div>
                    </div>
                </div>
                <!-- add checkout btn -->
                <div class="row my-3">
                    <div class="col-12">
                        <button
                            (click)="checkout()"
                            class="btn btn-success btn-block"
                            style="width: 100%"
                        >
                            Checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ui-loader [hidden]="!loading"></ui-loader>
