<div class="container" style="background-color: #f8f9fa">
    <div class="row">
        <div class="col-12">
            <!-- make table that have got product image , name , quntity (can be changed), price -->
            <table class="table table-hover my-4">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">SubTotal</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img
                                src="https://dummyimage.com/100x100/000/fff"
                                alt=""
                            />
                            <span>Product Name</span>
                        </td>
                        <td>
                            <input type="number" value="1" min="1" max="10" />
                        </td>
                        <td>$100</td>
                        <td>$100</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-8 my-4">empty area for style</div>
        <div class="col-4 my-4">
            <!-- draw a line break -->
            <hr />
            <div class="row">
                <h5 class="col-9" style="float: left">SubTotal</h5>
                <h5 class="col-3" style="float: right">$1001</h5>
            </div>
            <div class="row">
                <h5 class="col-9" style="float: left">Taxes</h5>
                <h5 class="col-3" style="float: right">$10110</h5>
            </div>
            <div class="row">
                <h5 class="col-9" style="float: left">Total</h5>
                <h5 class="col-3" style="float: right">$102310</h5>
            </div>
        </div>
    </div>
</div>
